<p>forms works!</p>


<form [formGroup]="form" (ngSubmit)="OnSubmit()">
    <div>
        <label>FullName</label>
        <input type="text" formControlName="fullname" class="form-control"
        [ngClass]="{'is-invalid':submitted && f['fullname'].errors}"
        >
        @if(submitted && f['fullname'].errors)
        {
            @if(f['fullname'].errors['required'])
            {
                <div>FullName Must be Required</div>
            }
        }
    </div>

    <div>
        <label>UserName</label>
        <input type="text" formControlName="username" class="form-control"
        [ngClass]="{'is-invalid':submitted && f['username'].errors}"
        >
        @if(submitted && f['username'].errors)
        {
            @if(f['username'].errors['required'])
            {
                <div>UserName Must be Required</div>
            }
            @if(f['username'].errors['minlength'])
            {
                <div>Min 6 char required for Username</div>
            }
        }
    </div>

    <div>
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
        [ngClass]="{'is-invalid':submitted && f['email'].errors}"
        >
        @if(submitted && f['email'].errors)
        {
            @if(f['email'].errors['required'])
            {
                <div>Email Must be Required</div>
            }
            @if( f['email'].errors['email'])
            {
                <div>Invalid Email</div>
            }
        }
    </div>
    <div>
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control"
        [ngClass]="{'is-invalid':submitted && f['password'].errors}"
        >
        @if(submitted && f['password'].errors)
        {
            @if(f['password'].errors['required'])
            {
                <div>Password Must be Required</div>
            }
            @if(f['password'].errors['minlength'])
            {
                <div>Min 6 char required for password</div>
            }
        }
    </div>
    <div>
    <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
    [ngClass]="{'is-invalid':submitted && f['acceptTerms'].errors}">
    <label> Accept Terms</label>
    @if(submitted && f['acceptTerms'].errors)
    {
        <div>Accept terms is required</div>
    }

</div>
<div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-primary" (click)="OnReset()">Reset</button>
</div>

</form>

