<!-- header.component.html -->

<header class="header">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li class="nav-item"><a routerLink="/pipe-demo" routerLinkActive="active">Pipe Demo</a></li>
        <li class="nav-item"><a routerLink="/studentform" routerLinkActive="active">Student Form</a></li>
        <li class="nav-item"><a routerLink="/forms" routerLinkActive="active">Forms</a></li>

        <li class="nav-item"><a routerLink="/login1" routerLinkActive="active1">Login1</a></li>

        <li class="nav-item"><a routerLink="/movies" routerLinkActive="active">movies</a></li>

      </ul>
    </nav>
  </header>
  <h1>This is App html file</h1>

<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
<h1></h1>